<header class="bg-gradient-to-r from-black to-gray-900 text-white p-4 shadow-lg fixed top-0 left-0 right-0 z-50">
  <div class="container mx-auto flex items-center justify-between">
    <h1 class="text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-yellow-300 to-yellow-500 animate-glow">
      <a routerLink="/home">MineQuiz!</a>
    </h1>
    <nav class="flex space-x-4">
      <a routerLink="/home" routerLinkActive="text-yellow-300 font-semibold border-b-2 border-yellow-300" [routerLinkActiveOptions]="{exact: true}" class="hover:text-yellow-300 transition duration-300 ease-in-out px-2 py-1">Home</a>
      <a routerLink="/about" routerLinkActive="text-yellow-300 font-semibold border-b-2 border-yellow-300" class="hover:text-yellow-300 transition duration-300 ease-in-out px-2 py-1">About</a>
      <a routerLink="/contact" routerLinkActive="text-yellow-300 font-semibold border-b-2 border-yellow-300" class="hover:text-yellow-300 transition duration-300 ease-in-out px-2 py-1">Contact</a>
    </nav>
    <button routerLink="/quiz" class="bg-yellow-500 hover:bg-yellow-600 text-blue-900 font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out transform hover:scale-105">
      Start Quiz 🚀
    </button>
  </div>
</header>





<main class="pt-16 pb-12 min-h-screen"
      [ngClass]="{ 'standard-background': isNotHomePage }">
  <router-outlet></router-outlet>
</main>

<footer class="bg-black text-center p-4 text-sm fixed bottom-0 left-0 right-0 z-50 shadow-inner">
  <p class="text-green-400 font-minecraft">
    Gruppo Boris - GrandMaster di Minecraft © {{ currentYear }}
  </p>
</footer>
