:host {
  display: block;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-image: url('/sballata.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f0f0f0;
}

@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 5px #34d399, 0 0 15px #34d399, 0 0 25px #34d399, 0 0 35px #34d399;
  }
  50% {
    text-shadow: 0 0 15px #34d399, 0 0 30px #34d399, 0 0 45px #34d399, 0 0 55px #34d399;
  }
}

.animate-glow {
  animation: glow 1.5s infinite ease-in-out;
}

h2, h3 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-size: 4rem;
  animation: glow 1.5s infinite ease-in-out;
}

h3 {
  font-size: 3rem;
  animation: glow 1.5s infinite ease-in-out;
}

.text-shadow-md {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

p {
  font-size: 1.3rem;
  line-height: 1.9;
  color: #d1d1d1;
  margin: 1.5rem auto;
  text-align: justify;
  width: 100%;
  padding: 0 10%;
  font-weight: 400;
}

strong {
  color: #4caf50;
  font-weight: 700;
  text-transform: uppercase;
}

a {
  font-size: 1.3rem;
  color: #4caf50;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  font-weight: 600;
}

a:hover {
  color: #81e6d9;
  text-decoration: underline;
  text-shadow: 0 0 10px #81e6d9;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.05);
  margin: 3rem auto;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (min-width: 768px) {
  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
    padding: 0 2.5%;
  }
}
