<div class="text-center p-10">
  <h2 class="text-4xl font-bold mb-4">Benvenuto su MineQuiz!</h2>
  <p class="text-lg mb-6">Metti alla prova la tua conoscenza di Minecraft!</p>
  <button routerLink="/quiz" class="bg-green-500 hover:bg-green-600 text-white font-bold py-3 px-6 rounded-lg text-xl transition duration-300 transform hover:scale-105">
    Inizia Subito Bro ⛏️
  </button>

  <div class="parallax-section mt-10 h-64 bg-fixed bg-center bg-cover rounded-lg shadow-lg"
       style="background-image: url('./sballata.png')">
    <div class="flex items-center justify-center h-full bg-black bg-opacity-40 rounded-lg">
      <h3 class="text-white text-3xl font-bold">Esplora il Mondo di Minecraft!</h3>
    </div>
  </div>
</div>
